{% load static %}

<!DOCTYPE html>


<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>




    <link rel="stylesheet" href="{% static 'tb/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'tb/css/owl.carousel.min.css' %}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'tb/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'tb/css/style.css' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style type="text/css">
        #bg {
            background-size: 1800px 900px;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
        }
    </style>












</head>

<body id="bg" style="background-image:url('{% static "tb/bg3.jpg" %}')";>








    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">


            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

                <a class="mr-5 hover:text-gray-900" href="/" style="color: black"><b>Home</a></b>
                <a class="mr-5 hover:text-gray-900" href="{% url 'f1'  %}" style="color: black"><b>Blood Facts</a></b>
                <a class="mr-5 hover:text-gray-900" href="/patient/patientlogin" style="color: black"><b>Patient</a></b>
                <a class="mr-5 hover:text-gray-900" href="/donor/donorlogin" style="color: black"><b>Donor</a></b>
                <a class="mr-5 hover:text-gray-900" href="/adminlogin" style="color: black"><b>Admin</a></b>
                <a class="mr-5 hover:text-gray-900" href="{% url 'fo1'  %}" style="color: black"><b>Contact Us</a></b>
                <a class="mr-5 hover:text-gray-900"></a>
                <a class="mr-5 hover:text-gray-900"></a>
                <a class="mr-5 hover:text-gray-900"></a>
            </nav>
        </div>
    </header>












    <form method="POST" id="forname" name="forname">
        {% csrf_token %}
        <div class="form-group col-md-2" id="state">
            <label for="inputState"><b>State</b></label>

            <select id="select1" class="form-control" name="select1">
        <option   value="0" num="0"  >Choose...</option>
        <option value="1" num="1">Kerela</option>
        <option value="2" num="2">Tamil Naidu</option>
        <option value="3" num="3">Karnataka</option>
        <option value="4" num="4">Andhra Pradesh</option>
        <option value="5" num="5">Telangana</option>
        <option value="6" num="6">Himachal Pradesh</option>
        <option value="7" num="7">Maharashtra</option>
        <option value="8" num="8">Rajasthan</option>
        <option value="9" num="9">Gujrat</option>
        <option value="10" num="10">Goa</option>
        <option value="11" num="11">West Bengal</option>
        <option value="12" num="12">Assam</option>
        <option value="13" num="13">Jharkhand</option>
        <option value="14" num="14">Uttar Pradesh</option>
        <option value="15" num="15">Delhi</option>

        
      </select>
        </div>
        <div class="form-group col-md-2" id="c1" style="position:relative; bottom: 86px; left:280px;  ">
            <label for="inputState"><b>City</b></label>
            <select id="select2" class="form-control" name="select2">
        <option  value="0" num="0">Choose...</option>

        <option value="Thiruvananthapuram" num="1">Thiruvananthapuram</option>

<option value="Kozhikhode" num="1">Kozhikhode</option>

<option value="Kollam" num="1">Kollam</option>

<option value="Kannur" num="1">Kannur</option>

<option value="Thrissur" num="1">Thrissur</option>

<option value="Alappuzha" num="1">Alappuzha</option>

<option value="Palakkad" num="1">Palakkad</option>

<option value="Kottayam" num="1">Kottayam</option>

<option value="Idukki" num="1">Idukki</option>

<option value="Ernakulam" num="1">Ernakulam</option>



<option value="Chennai" num="2">Chennai</option>

<option value="Coimbatore" num="2">Coimbatore</option>

<option value="Madurai" num="2">Madurai</option>

<option value="Tiruchirappalli" num="2">Tiruchirappalli</option>

<option value="Tiruppur" num="2">Tiruppur</option>

<option value="Salem" num="2">Salem</option>

<option value="Vellore" num="2">Vellore</option>

<option value="Kanchipuram" num="2">Kanchipuram</option>

<option value="Erode" num="2">Erode</option>

<option value="Kanyakumari" num="2">Kanyakumari</option>



<option value="Bengaluru" num="3">Bengaluru</option>

<option value="Mysore" num="3">Mysore</option>

<option value="Belgaum" num="3">Belgaum</option>

<option value="Davangere" num="3">Davangere</option>

<option value="Bellary" num="3">Bellary</option>

<option value="Bijapur" num="3">Bijapur</option>

<option value="Shivamogga" num="3">Shivamogga</option>

<option value="Tumakuru" num="3">Tumakuru</option>

<option value="Raichur" num="3">Raichur</option>

<option value="Bagalkot" num="3">Bagalkot</option>



<option value="Visakhapatnam" num="4">Visakhapatnam</option>

<option value="Guntur" num="4">Guntur</option>

<option value="Kurnool" num="4">Kurnool</option>

<option value="Kadapa" num="4">Kadapa</option>

<option value="Anantapur" num="4">Anantapur</option>

<option value="Vizianagaram" num="4">Vizianagaram</option>

<option value="Nellore" num="4">Nellore</option>

<option value="Chittoor" num="4">Chittoor</option>

<option value="Krishna" num="4">Krishna</option>

<option value="Prakasam" num="4">Prakasam</option>



<option value="Hyderabad" num="5">Hyderabad</option>

<option value="Warangal" num="5">Warangal</option>

<option value="Nizamabad" num="5">Nizamabad</option>

<option value="Karimnagar" num="5">Karimnagar</option>

<option value="Khammam" num="5">Khammam</option>

<option value="Mahaboobnagar" num="5">Mahaboobnagar</option>

<option value="Nalgonda" num="5">Nalgonda</option>

<option value="Adilabad" num="5">Adilabad</option>

<option value="Nizamabad" num="5">Nizamabad</option>

<option value="Medak" num="5">Medak</option>
         <option value="Shimla"
num="6">Shimla</option>

<option value="Kangra"
num="6">Kangra</option>

<option value="Una"
num="6">Una</option>

<option value="Kinnaur"
num="6">Kinnaur</option>

<option value="Solan"
num="6">Solan</option>

<option value="Chamba"
num="6">Chamba</option>

<option value="Dharamsala"
num="6">Dharamsala</option>

<option value="Palampur"
num="6">Palampur</option>

<option value="Mandi"
num="6">Mandi</option>

<option value="Nahan"
num="6">Nahan</option>

<option value="Mumbai"
num="7">Mumbai</option>

<option value="Nagpur"
num="7">Nagpur</option>

<option value="Pune"
num="7">Pune</option>

<option value="Nashik"
num="7">Nashik</option>

<option value="Ahmednagar"
num="7">Ahmednagar</option>

<option value="Yavatmal"
num="7">Yavatmal</option>

<option value="Aurangabad"
num="7">Aurangabad</option>

<option value="Kolhapur"
num="7">Kolhapur</option>

<option value="Solapur"
num="7">Solapur</option>

<option value="Amravati"
num="7">Amravati</option>

<option value="Jaisalmer"
num="8">Jaisalmer</option>

<option value="Jaipur"
num="8">Jaipur</option>

<option value="Jodhpur"
num="8">Jodhpur</option>

<option value="Ajmer"
num="8">Ajmer</option>

<option value="Udaipur"
num="8">Udaipur</option>

<option value="Bikaner"
num="8">Bikaner</option>

<option value="Kota"
num="8">Kota</option>

<option value="Alwar"
num="8">Alwar</option>

<option value="Bhilwara"
num="8">Bhilwara</option>

<option value="Sikar"
num="8">Sikar</option>

<option value="Ahmedabad"
num="9">Ahmedabad</option>

<option value="Surat"
num="9">Surat</option>

<option value="Vadodara"
num="9">Vadodara</option>

<option value="Rajkot"
num="9">Rajkot</option>

<option value="Junagadh"
num="9">Junagadh</option>

<option value="Jamnagar"
num="9">Jamnagar</option>

<option value="Gandhinagar"
num="9">Gandhinagar</option>

<option value="Porbandar"
num="9">Porbandar</option>

<option value="Gandhidham"
num="9">Gandhidham</option>

<option value="Anand"
num="9">Anand</option>

<option value="Goa"
num="10">Goa</option>



<option value="Kolkata" num="11">Kolkata</option>
<option value="Asansol" num="11">Asansol</option>
<option value="Siliguri" num="11">Siliguri</option>
<option value="Durgapur" num="11">Durgapur</option>
<option value="Bardhaman" num="11">Bardhaman</option>
<option value="Malda" num="11">Malda</option>
<option value="Kharagpur" num="11">Kharagpur</option>
<option value="Haldia" num="11">Haldia</option>
<option value="Baharampur" num="11">Baharampur</option>
<option value="Krishnanagar" num="11">Krishnanagar</option>
<option value="Guwahati" num="12">Guwahati</option>
<option value="Silchar" num="12">Silchar</option>
<option value="Dibrugarh" num="12">Dibrugarh</option>
<option value="Jorhat" num="12">Jorhat</option>
<option value="Nagaon" num="12">Nagaon</option>
<option value="Tinsukia" num="12">Tinsukia</option>
<option value="Tezpur" num="12">Tezpur</option>
<option value="Bongaigaon" num="12">Bongaigaon</option>
<option value="Karimganj" num="12">Karimganj</option>
<option value="Dhubri" num="12">Dhubri</option>
<option value="Jamshedpur" num="13">Jamshedpur</option>
<option value="Dhanbad" num="13">Dhanbad</option>
<option value="Garhwa" num="13">Garhwa</option>
<option value="Chakradharpur" num="13">Chakradharpur</option>
<option value="Deoghar" num="13">Deoghar</option>
<option value="Netarhat" num="13">Netarhat</option>
<option value="Simdega" num="13">Simdega</option>
<option value="Jamtara" num="13">Jamtara</option>
<option value="Dumka" num="13">Dumka</option>
<option value="Jhumri Telaiya" num="13">Jhumri Telaiya</option>
<option value="Dehradun" num="14">Dehradun</option>
<option value="Haridwar" num="14">Haridwar</option>
<option value="Almora" num="14">Almora</option>
<option value="Haldwani" num="14">Haldwani</option>
<option value="Joshimath" num="14">Joshimath</option>
<option value="Kashipur" num="14">Kashipur</option>
<option value="Nainital" num="14">Nainital</option>
<option value="Pauri" num="14">Pauri</option>
<option value="Khatima" num="14">Khatima</option>
<option value="Ramnagar" num="14">Ramnagar</option>
<option value="Delhi" num="15">Delhi</option>


           
       
        
           </select>
        </div>
        <button type="submit" class="btn btn-primary" style="position:relative; bottom: 140px; left:580px;">Search</button>

    </form>






    <div class="content" style="margin: 0px; padding: 0px;">

        <div class="container">
            <h2 class="mb-0"></h2>


            <div class="table-responsive custom-table-responsive">

                <table class="table custom-table">
                    <thead>
                        <tr>

                            <th scope="col">



                                </label>
                            </th>

                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <th scope="col">Contact</th>
                        </tr>
                    </thead>
                    <tbody>



                        {% for i in ls1 %}
                        <tr scope="row">
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>
                            <td>
                                {{i.ID}}
                            </td>
                            <td><a href="#">  {{i.Name}}</a></td>
                            <td>
                                {{i.State}}
                                <small class="d-block">  
                </small>
                            </td>
                            <td> {{i.City}}</td>
                            <td> {{i.Contact}}</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr class="active">

                            </th>
                            {% endfor %}
                </table>




                <script src="{% static 'tb/js/jquery-3.3.1.min.js' %}"></script>
                <script src="{% static 'tb/js/popper.min.js' %}"></script>
                <script src="{% static 'tb/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'tb/js/main.js' %}"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
                <script>
                    var $select1 = $('#select1'),
                        $select2 = $('#select2'),
                        $options = $select2.find('option');

                    $select1.on('change', function() {
                        $select2.html($options.filter('[num="' + this.value + '"]'));
                    }).trigger('change');
                </script>








</body>

</html>