.u-section-1 {
  min-height: 897px;
}

.u-section-1 .u-image-1 {
  height: 469px;
  margin-top: 202px;
  margin-bottom: 0;
  object-position: 50% 39.98%;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -184px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 18.75px);
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  grid-gap: 25px 25px;
  min-height: 262px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 9px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-1 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 9px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-1 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 9px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-1 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 35px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 851px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 227px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -141px;
    margin-right: -141px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -141px;
    margin-right: -141px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -141px;
    margin-right: -141px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-left: -141px;
    margin-right: -141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 239px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 280px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-social-icons-1 {
  height: 61px;
  min-height: 16px;
  width: 369px;
  min-width: 144px;
  white-space: nowrap;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-social-icons-1 {
    height: 51px;
    width: 319px;
    margin-top: 10px;
  }
}